[submodule "opsi-misc/opsi-quickinstall/l-opsi-server-products"]
	path = opsi-misc/opsi-quickinstall/l-opsi-server-products
	url = https://gitlab+deploy-token-1:LXeNre7Mczjx_kzzGrpX@gitlab.uib.gmbh/uib/opsiproducts/l-opsi-server-products.git
