[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: 7-zip
name: 7-Zip 9.22 (x64 edition)
description: Manufacturer: Igor Pavlov
advice: 
version: 9.22.00.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.opsiscript
uninstallScript: uninstall32.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript:

[Changelog]
7-zip (9.22.00.0-1) stable; urgency=low

	* initial: created automatic by msi2opsi

-- msi2opsi.exe <info@uib.de>  15.03.2013 16:30:11

