[Package]
version: 1
depends: 

[Product]
type: localboot
id: opsi-template-with-userlogin
name: opsi template for installations that require a user to be logged in
description: A opsi demo package
advice: 
version: 4.2.0.1
priority: -20
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: localsetup\uninstall-local.opsiscript
updateScript: localsetup\update-local.opsiscript
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: copy_files_locally
description: Determines if the installation files will be copied locally
default: False

[ProductProperty]
type: bool
name: debug
description: Enables keyboard and mouse input during auto logon and logs passwords if set to true
default: False

[ProductProperty]
type: unicode
name: execution_method
multivalue: False
editable: False
description: Execute the local installation by using local winst, or the event_starter
values: ["loginOpsiSetupUser", "runAsOpsiSetupUser", "runOpsiScriptAsOpsiSetupUser"]
default: ["runOpsiScriptAsOpsiSetupUser"]

[ProductProperty]
type: bool
name: uninstall_before_install
description: Uninstall previous versions before installation
default: True

