<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>opsisetupdetector</string>
  <key>CFBundleIdentifier</key>
  <string>org.opsi.opsisetupdetector</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleName</key>
  <string>opsisetupdetector</string>
  <key>CFBundleShortVersionString</key>
  <string>4.2.1.15</string>
  <key>CFBundleIconFile</key>
  <string>opsisetupdetector.icns</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>NSAppleScriptEnabled</key>
  <true/>
  <key>NSDesktopFolderUsageDescription</key>
  <string>opsi need access to your desktop folders</string>
  <key>NSNetworkVolumesUsageDescription</key>
  <string>opsi need access to your network shares</string>
</dict>
</plist>
