[TitleLabel]
Text= Opsi Client Kiosk
FontName = Arial
FontSize = 15
FontColor = $00f60000
FontBold = true
FontItalic = true
FontUnderline = true

[Tile]
Width = 300
Height = 180
Color =  cl3DLight
FontName = Arial
FontSize = 12
FontColor = clBlack
FontBold = true
FontItalic = false
FontUnderline = false

[TileRadio]
Fontsize = 10
None_color = $00001A
Uninstall_color = $FF00FF
Setup_color = clLime

