1 VERSIONINFO
FILEVERSION 4,0,0,11
PRODUCTVERSION 4,0,0,0
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "opsigina.dll test program\000"
   VALUE "FileVersion", "4.0.0.11\000"
   VALUE "InternalName", "\000"
   VALUE "LegalCopyright", "uib gmbh (www.uib.de) under GPL\000"
   VALUE "LegalTrademarks", "opsi\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "\000"
   VALUE "ProductVersion", "4.0.0.0\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 0x04E4
 }
}

#define RT_MANIFEST  24
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define ISOLATIONAWARE_MANIFEST_RESOURCE_ID 2
#define ISOLATIONAWARE_NOSTATICIMPORT_MANIFEST_RESOURCE_ID 3

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "opsiginatest.manifest"
MAINICON ICON "opsiginatest.ico"
